<form method="post" action="{% url 'update_test_condition_through_form' %}" id="test_condition_form">
    <div class="test-conditions-wrapper ">
        {% csrf_token %}
        <div class="test-condition">
            
            <label for="">Edit total passing marks</label>
            <input type="text" name="total_pass_marks" id="" placeholder="Enter new total passing marks" value="{{test_condition.total_passing_marks}}">
        </div>
        <div class="test-condition category-conditions">
            {% for category in categories%}
            <div class="category-condition">
                <label for="">{{category.name}}</label>
                <input type="text" name="{{category.name}}_pass_marks" 
                value="{{category.category_passing_marks}}">
            </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Update Test Conditions</button>
        <label id="close_update_test_conditions_form" class="close-form-btn test_conditions_close_btn">X</label>
    </div>
</form>